.operate {
  display: flex;
  flex: 1;
  height: 17px;
  font-size: 13px;
  color: #6a737c;
}

.operate div {
  position: relative;
  margin: 4px;
}

.operate div a {
  color: #6a737c;
}

.operate div button {
  cursor: pointer;
}

.tips {
  position: absolute !important;
  top: 16px;
  left: 10px;
  padding: 3px 5px;
  border: 1px solid #000;
  border-bottom: none;
  white-space: nowrap;
  font-size: 13px;
  color: #000;
  display: none;
}

.operate div:hover .tips {
  display: block;
}
